<li class="list-item list-repair" data-image="{{thumbnail[0]}}">
    <div class="list-thumbnail" style="background-image: none">
    	<div class="list-thu-title">{{name}}</div>
    </div>
    <div class="list-thu-start" data-id="{{id}}" mask="art-media-{{id}}"> </div>
   <!--  <div class="list-footprint">
        <span class="list-source">{{submap}}</span>
        <span class="list-date">{{ptime}}</span>
    </div> -->

	<div class="art-media-cont animated" id="art-media-{{id}}-cont">
		<div class="art-media animated" id="art-media-{{id}}"></div>
	</div>  
</li>
