<li class="list-item nothumbnail">
    <div class="list-thumbnail" style="background-image: none"></div>
    <div class="list-content">
        <div class="list-title">{{name}}</div>
        <p class="list-brief">{{info}}</p>
    </div>
    <div class="list-start" data-id="{{id}}" mask="art-media-{{id}}"> </div>
    <!-- <div class="list-footprint">
        <span class="list-source">{{submap}}</span>
        <span class="list-date">{{ptime}}</span>
    </div> -->

    <div class="art-media-cont animated" id="art-media-{{id}}-cont">
        <div class="art-media animated" id="art-media-{{id}}"></div>
    </div> 
</li>
z