<div>
    高对比度
</div>

<ul id="config_color_list" class="clearfix">
	<li class="config_color_item" id="config_color_gray" mask="gray">开启</li>
    <li class="config_color_item active" id="config_color_red" mask="red">关闭</li>
</ul>

<div>
    字体设置
</div>

<ul id="config_font_list" class="clearfix">
    <li class="config_font_item" id="config_font_big">放大</li>
    <li class="config_font_item active" id="config_font_small">缩小</li>
</ul>

<div>
   	语音设置
</div>

<ul id="config_reader_list" class="clearfix">
	<li class="config_reader_item active" id="config_reader_start">开启</li>
	<li class="config_reader_item" id="config_reader_stop">关闭</li>
</ul>